In [1]:
import re

In [3]:
chat1 = '12345678912, abc@xyz.com'
chat2 = '(123)-567-8912, abx_82@xyz.com'
chat3 = '12345678912 email:abc@xyz.com'

In [4]:
p1 = '\d{11}'
num = re.findall(p1,chat1)
num

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\supun\AppData\Local\Temp\ipykernel_15944\4137142999.py:1: SyntaxWarning: invalid escape sequence '\d'
  p1 = '\d{11}'

['12345678912']

In [5]:
p2 = '\(\d{3}\)-\d{3}-\d{4}'
chat2num = re.findall(p2,chat2)
chat2num

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
C:\Users\supun\AppData\Local\Temp\ipykernel_15944\1723667989.py:1: SyntaxWarning: invalid escape sequence '\('
  p2 = '\(\d{3}\)-\d{3}-\d{4}'

['(123)-567-8912']

In [27]:
text1 = "My email is john.doe123@example.com, please contact me."

In [31]:
text1

'My email is john.doe123@example.com, please contact me.'

### 1. Extract all emails

In [40]:
p3 = '[\w\.-]+@[\w\.-]+\.\w+'
email = re.findall(p3,text1)
email

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\supun\AppData\Local\Temp\ipykernel_15944\223404194.py:1: SyntaxWarning: invalid escape sequence '\w'
  p3 = '[\w\.-]+@[\w\.-]+\.\w+'

['john.doe123@example.com']

### 2. Extract all prices (with $)

In [45]:
text3 = 'The price of the book is $49.99, but with discount it’s $39.50.'

In [49]:
p4 = '\$\d+\.\d{2}'
price = re.findall(p4,text3)
price

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\supun\AppData\Local\Temp\ipykernel_15944\3910277524.py:1: SyntaxWarning: invalid escape sequence '\$'
  p4 = '\$\d+\.\d{2}'

['$49.99', '$39.50']

### 3. Extract all dates (dd/mm/yyyy)

In [55]:
text4 = 'Today’s date is 11/09/2025, yesterday was 10/09/2025.'
text4

'Today’s date is 11/09/2025, yesterday was 10/09/2025.'

In [57]:
p5 = '\d{2}/\d{2}/\d{4}'
date = re.findall(p5,text4)
date

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\supun\AppData\Local\Temp\ipykernel_15944\1775291398.py:1: SyntaxWarning: invalid escape sequence '\d'
  p5 = '\d{2}/\d{2}/\d{4}'

['11/09/2025', '10/09/2025']

### 4. Extract phone numbers

In [66]:
text5 = 'Call me at +94-71-2345678 or 071-9876543 +94712345678.'
text5

'Call me at +94-71-2345678 or 071-9876543 +94712345678.'

In [70]:
p6 = '(\+?\d{2,3}-?\d{2}-?\d{7}|\d{3}-\d{7})'
number = re.findall(p6,text5)
number

<>:1: SyntaxWarning: invalid escape sequence '\+'
<>:1: SyntaxWarning: invalid escape sequence '\+'
C:\Users\supun\AppData\Local\Temp\ipykernel_15944\2747996001.py:1: SyntaxWarning: invalid escape sequence '\+'
  p6 = '(\+?\d{2,3}-?\d{2}-?\d{7}|\d{3}-\d{7})'

['+94-71-2345678', '071-9876543', '+94712345678']

### 5. Extract order IDs (ORD-xxxxx)

In [73]:
text6 = 'The order IDs are ORD-12345, ORD-67890, and ORD-54321.'
text6

'The order IDs are ORD-12345, ORD-67890, and ORD-54321.'

In [ ]:
p7 = 'ORD-\d+'
order = re.findall(p7,text)